html, body, div#root {
  height: 100%; }

button, select, option, span, input, body, div, p, header, footer, main {
  font-family: Verdana, Geneva, sans-serif; }

body {
  margin: 0; }
  body header {
    padding: 0 8px;
    background: #111111; }
    body header .topRow {
      max-width: 1240px;
      margin: 0 auto; }
    body header .buttonContainer, body header .filterContainer {
      display: inline-block; }

.container {
  height: 100%; }
  .container .filterContainer {
    float: right; }
    @media (max-width: 763px) {
      .container .filterContainer {
        float: none;
        display: block; } }
    .container .filterContainer option {
      background-color: #fff;
      color: #000; }
      .container .filterContainer option:hover {
        box-shadow: 0 0 10px 100px #c20000 inset; }
  .container div#movieShowcase,
  .container div.searchResults {
    text-align: center;
    max-width: 1240px;
    margin: 0 auto;
    padding: 55px 0 35px; }
  .container main {
    background: #f2f2f2;
    min-height: calc(100% - 245px); }
    @media (max-width: 763px) and (min-width: 438px) {
      .container main {
        min-height: calc(100% - 323px); } }
    @media (max-width: 437px) {
      .container main {
        min-height: calc(100% - 342px); } }
  .container .searchContainer {
    display: inline-block;
    width: 50%;
    margin-left: 30px; }
    .container .searchContainer input[type="text"] {
      width: 100%;
      padding: 10px 20px;
      font-size: 16px;
      margin: 8px 0;
      box-sizing: border-box;
      border: none;
      border-radius: 3px;
      background-color: #f2f2f2; }
      .container .searchContainer input[type="text"]:focus, .container .searchContainer input[type="text"]:active {
        background-color: #fff;
        outline: none; }
  .container .movieContainer {
    width: 225px;
    height: 280px;
    margin: 0 8px 20px 5px;
    display: inline-block;
    position: relative;
    border-radius: 6px;
    overflow: hidden; }
    .container .movieContainer .posterContainer {
      width: 100%;
      height: 90%;
      overflow: hidden; }
      .container .movieContainer .posterContainer img {
        width: 100%;
        height: 100%;
        transition: all .3s ease-in-out; }
    .container .movieContainer .textContainer .titleText {
      text-align: left;
      padding: 51% 16px 12px;
      position: absolute;
      display: block;
      z-index: 1;
      width: 86%;
      bottom: 0;
      background: linear-gradient(0deg, #000, rgba(0, 0, 0, 0.3), transparent);
      color: #fff;
      font-weight: 400;
      line-height: 1.55; }
    .container .movieContainer .textContainer .yearText {
      position: absolute;
      top: 8px;
      right: 8px;
      color: #fff;
      background-color: #c20000;
      border-radius: 2px;
      padding: 6px 8px; }
    .container .movieContainer:hover img {
      transform: scale(1.2); }
  .container footer {
    padding-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    background: #111111;
    color: #ccc;
    font-weight: 200;
    line-height: 1.7; }
    .container footer .footerContainer {
      max-width: 1240px;
      margin: 0 auto;
      padding-left: 20px;
      text-align: center; }
    .container footer .copyRightContainer div {
      padding: 5px 0; }
    .container footer .copyRightContainer span {
      padding-right: 10px;
      cursor: pointer; }
    .container footer .socialMediaLinks {
      padding-bottom: 11px; }
  .container div#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.7; }
    .container div#loader img#loaderImg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .container .appButton {
    background-color: #111111;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    padding: 15px 32px;
    transition: all 0.5s;
    cursor: pointer; }
    .container .appButton:focus, .container .appButton:active {
      outline: none; }
  .container .appButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-weight: 600; }
    .container .appButton span:hover {
      color: #ccc; }
  .container .appButton.disabled {
    background-color: #0008ca;
    cursor: not-allowed;
    pointer-events: none; }

